:root {
  --ff-sans: "Josefin Sans", sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;

  --gradient: hsl(192, 100%, 67%), hsl(280, 87%, 65%);
  --primary: hsl(220, 98%, 61%);

  --neutral-100: hsl(0, 0%, 98%);
  --neutral-300: hsl(236, 33%, 92%);
  --neutral-500: hsl(233, 11%, 84%);
  --neutral-700: hsl(236, 9%, 61%);
  --neutral-900: hsl(235, 19%, 35%);

  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-900: 2rem;

  --main-radius: 5px;
  --main-padding: 15px 15px 15px 25px;
  --box-shadow: 0 0 2px rgb(0, 0, 0, 0.25);

  --duration: 0.1s;
  --transition: all var(--duration) linear;
  --radius: 100vh;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  font-family: var(--ff-sans);
  line-height: 1.5;
  font-weight: var(--fw-normal);
  color: var(--neutral-900);
  font-size: 112.5%;
}
body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1 {
  line-height: 1.1;
  margin: 0;
}
button,
input {
  font-family: var(--ff-sans);
}
button {
  background-color: transparent;
  border: none;
  color: var(--neutral-900);
}
button:focus {
  outline: none;
}
.completed {
  text-decoration: line-through;
  color: var(--neutral-500);
}
.wrapper {
  padding-inline: 30px;
  max-width: 540px;
  margin-inline: auto;
}
/* header */
header {
  --height: 31dvh;
  --padding: 50px;
  color: white;
  height: var(--height);
  padding-block-start: var(--padding);
  background: url("./assets/bg-mobile-light.jpg") no-repeat;
  background-size: cover;
}
@media (min-width: 540px) {
  header {
    background: url("./assets/bg-desktop-light.jpg") no-repeat;
    background-size: cover;
  }
}
.header__title {
  letter-spacing: 5px;
  font-weight: var(--fw-normal);
  font-size: xx-large;
}
.todo__header--wrapper {
  display: flex;
  justify-content: space-between;
}
/* split */
.todo__main--wrapper {
  margin-block-start: -75px;
}
.todo__form {
  --main-padding: 10px 15px 10px 25px;
  background-color: white;
  border-radius: var(--main-radius);
  box-shadow: var(--box-shadow);
  padding: var(--main-padding);
}

.todo__form--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo__form--input {
  caret-color: var(--primary);
  font-size: calc(var(--fs-300) + 1.8px);
  border: none;
}
.todo__form--input::placeholder {
  color: var(--neutral-700);
  font-size: calc(var(--fs-300) - 0.5px);
}
.todo__form--input:focus {
  outline: none;
}
.todo__form--button {
  border-radius: var(--main-radius);
  cursor: pointer;
  border: 1px solid;
  padding: 5px 10px;
  background-origin: border-box;
  position: relative;
  color: transparent;
  background-image: linear-gradient(to right bottom, var(--gradient));
}
.todo__form--button::before {
  content: "add";
  display: grid;
  place-content: center;
  position: absolute;
  inset: 0px;
  border-radius: 3.5px;
  background-origin: inherit;
  color: var(--neutral-900);
  background: linear-gradient(to right bottom, var(--gradient));
  color: white;
}
.todo__form--button:hover {
  border-color: transparent;
}
.todo__form--button:hover::before {
  background: white;
  color: var(--neutral-900);
}
/* split */
.todoes__wrapper {
  margin-block-start: 15px;
  background-color: white;
  border-radius: var(--main-radius);
  box-shadow: var(--box-shadow);
}
.todoes__todo {
  padding: var(--main-padding);
  border-bottom: 1px solid var(--neutral-300);
}
.icons__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* #edit-btn {
  visibility: hidden;
  transition: var(--transition);
}
.todoes__todo:hover #edit-btn {
  visibility: visible;
} */
.todoes__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--main-padding);
}
.todoes__actions > * {
  color: var(--neutral-500);
  cursor: pointer;
  transition: var(--transition);
}
.todoes__actions > *:hover {
  color: var(--neutral-900);
}

.todoes__actions--clear {
  font-size: calc(var(--fs-300) - 1.3px);
}
.todoes__actions--left {
  font-size: calc(var(--fs-300) - 2px);
  font-weight: 400;
}
/* split */
.todoes__todo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todoes__todo--label {
  font-size: var(--fs-300);
  font-weight: 400;

  flex: 1;
}
input[type="checkbox"] {
  appearance: none;
  position: absolute;
}
input[type="checkbox"] + label {
  --size: 20px;

  position: relative;

  width: var(--size);
  height: var(--size);

  border: 1px solid var(--neutral-300);
  border-radius: var(--radius);

  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}
input[type="checkbox"] + label::after {
  content: "";
  display: block;
  position: absolute;
  inset: 1px;
  border-radius: var(--radius);
}
input[type="checkbox"] + label:hover {
  background-image: linear-gradient(to right bottom, var(--gradient));
}
input[type="checkbox"]:checked + label {
  background-image: url("./assets/icon-check.svg"),
    linear-gradient(to right bottom, var(--gradient));
}
input[type="checkbox"]:checked ~ .todoes__todo--label {
  text-decoration: line-through;
  color: var(--neutral-500);
}
input[type="checkbox"]:checked + label::after {
  background-color: transparent;
}
input[type="checkbox"] + label:hover::after {
  background-color: white;
}
input[type="checkbox"]:checked + label:hover::after {
  background-color: transparent;
}
input[type="checkbox"] ~ label {
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(3px);
  z-index: 100;
}
.edit-form__wrapper {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
}
.modal {
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
}
.modal .todo__form--button::before {
  content: "save";
}
